

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1796615133:AAFYAFEBiRD2x2rVotK2MT7-dB7mRxfG8Z8"
GDRIVE_FOLDER_ID = "10CQK99lACCb-e_LSDOEWpjzMt7jUKmpN"
OWNER_ID = 1634812265
DOWNLOAD_DIR = "/home/ubuntu/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 3900425
TELEGRAM_HASH = 1affe5d43671e10d86514330afe05028""
USE_SERVICE_ACCOUNTS = ""
# Optional config
AUTHORIZED_CHATS = "-1001136335119" #Separated by space
INDEX_URL = "https://drive-index.gujjuironman.workers.dev"
UPTOBOX_TOKEN = ""
MEGA_API_KEY = "IoQ2ibZY"
MEGA_EMAIL_ID = "gujjuironman@gmail.com"
MEGA_PASSWORD = "/6mTu~3z_+4?cJ7E"
STOP_DUPLICATE_MIRROR = "True"
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
